@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&display=swap');

@font-face {
  font-family: 'Android';
  src: url('fontes/fonts/android.otf.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}


:root {
    --cor0: #e9d254;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

   --font-padrao: arial,verdana,helvetica,sans serif;
   --font-destaque: 'bebas,neuer',cursive;
   --font-android:'android',cursive;
}
body {
    background-color: var(--cor1);
    font-family:var(--font-padrao)
}
  a.externo::after {
    content: \ 1F9F7
}
header {
     background-color: #1a5c37;
     text-align: center;
     border-radius: 5px; 
     box-shadow: 4px 8px 10px rgba(0,0,0.6);
}
header > h1 {
    font-family: var(--font-padrao);
    color: white;
    margin-bottom: 20px;
    box-shadow: 2px 4px 8px rgba black;
    
}
header > p {
    font-family: var(--font-padrao);
    color: white;
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}
nav {
    position: relative;
    z-index: 1;
    margin: 10px;
    background-color:#045025;
    display: flex;
    border-radius: 5px;
    justify-content: center

}
 nav a {
    background-color: #238d51;
    border-radius: 3px;
    display: inline-block;
    max-width: 0 8px;
    color: white;
    text-decoration: none;
    padding: 6px;
    margin: 8px;
    transition-duration: 3.s;
}
nav a:hover {
    color: #3ddc84;

}
  
main { 
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
 main a{
    font-weight: bold;
    color: var(--cor4);

}
main h1 {
    font-family: var(--font-android);
    color: #238d51;
    text-align: center;
}
main h2 {
    font-family: var(--font-android);
    color: var(--cor5);
    font-size: 1.2em;
    background-image: linear-gradient(to right,#148b32c2,
    transparent);
    padding: 5px 10px;
 
   }
   
main p {
    margin: 15px,0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;

}
main p a {
    background-color:#1a5c37;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    color:white;
    font-weight: 600;
    text-decoration: none;
}
main p a:hover {
    color: #3ddc84;
    text-decoration: solid;
}   
main strong {
    color: var(--cor6);
    font-weight: bold;
    padding: 2px 8px;
}
 main img {
     width: 100%;
     border-radius: 10px;
     border-width: 2px;
     border-style: groove;
     border-color: black;
}
main img .pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
 .meu-main {
    background-color: #063d1e;
    padding: 20px;
    text-align: center;
 }


div .video {
     background-color: #063d1e;
     margin: 0px -20px 30px -20px;
     padding: 20px;
     padding-bottom: 59;
    
    
    
}
div.video > iframe {
    top: 5%;
    left: 5%;
    width: 100%;
    height: 200%;


    
}
 

aside {
    background-color: #238d51;
    padding: 10px;
    border-radius: 10px;
}
aside > ul {
    list-style-type: '\2714'\00a0,\00a0;
    list-style-position: inside;
    columns: 2;
    }
    aside > h3{
        background-color: var(--cor5);
        color: white;
        border-radius: 5px;
        padding: 10px;
        margin: -10px -10px 0px -10px;
        border-radius: 10px 10px 0px 10px;
    }

footer {
    background-color: #063d1e;
    text-align: center;
    color: white;
    font-size: 0.8em;
    padding: 5px;

}
footer a {
    background-color:rgb(38, 216, 77) ;
    color: white;
    text-decoration: none;
} footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}
