body{
    background-color: hwb(186 49% 13%);
    font-family: Arial, Helvetica, sans-serif;
}
h1 { 
    color: darkslategrey;
}
h1#principal{
    background-color: white;
    text-align: center;
    color: black;
}
.csspr {
    background-color: white;
    color: black;
    text-align: center;
}

h2 {
    color: darkgoldenrod;
}

.basico {
    color: rgb(236, 236, 14);

}
.intermediario {
    color: green;

}
.avancado {
    color:#f00808

}

p {
    color: rgb(174, 0, 255);
}