@charset "utf=8";

*{
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;*/

}
main{
    background-image: linear-gradient(#89EB3D,#3DEB76,#40EB3D,#D1EB3D,#3DEBB1);
    width: 600;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    margin: auto;
    border-radius: 10px;/*borda redonda */
    
}
h1{
    color: white;
    text-align: center; /*texto no centro*/
    text-shadow: 1px 1px 2px rgba(14, 13, 13, 0.822) /*sombra no h1*/
}
h2{
    color: hsl(0, 4%, 5%);
}
p{
    text-align: justify;
    color: black;
}
